body {
  font-family: Serif;
}

h1 {
  padding: -40px 50px;
  color: gray;
}
header {
  text-align: center;
}

img.figure {
  height: 50px;
  width: 50px;
}
.top {
  margin: 25px 450px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border-width: 8px;
  border-color: rgb(238, 114, 114);
  border-style: solid;
}

#user_input {
  background-color: rgb(167, 241, 245);
  color: rgb(133, 116, 116);
  height: 2.92rem;
  width: 70%;
  margin: 0px;
  font-size: 24px;
  border: 2px solid rgb(100, 71, 71);
  border-radius: 6px;
}

.buttons {
  display: flex;
  margin: 10px 0px 10px 180px;
  /* margin: 4px 2px 0px 8px; */
}

button {
  background-color: #f5af53;
  height: 2.75rem;
  border: none;
  color: white;
  padding: 10px 5px 10px 5px;
  border: 2px solid rgb(100, 71, 71);
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  margin: 4px 2px 0px 8px;
  cursor: pointer;
}
.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 2.5px;
}

input {
  width: 25px;
  height: 25px;
}

.list-container {
  color: rgb(61, 58, 58);
  align-items: center;
  font-size: 30px;
}

#user_input {
  width: 500px;
  height: 48px;
  background-color: rgb(145, 236, 206);
}

ul {
  display: table;
  margin: 0 auto;
}

li:before {
  content: "👉";
  display: inline;
}

#menu {
  list-style: none;
}
